@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import "App/App.scss";
@import "Form/Form.scss";
@import "About/About.scss";
@import "Contact/Contact.scss";

$h1Color: blue;

html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
        // body{
        //     background: url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L48,186.7C96,181,192,171,288,138.7C384,107,480,53,576,48C672,43,768,85,864,128C960,171,1056,213,1152,224C1248,235,1344,213,1392,202.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
        // }

        // .container{
            // margin: 20px 5px;
            // padding: 5px 2px;
            
        //}
        
        
    }