@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import "App/App.scss";
@import "Form/Form.scss";
@import "About/About.scss";
@import "Contact/Contact.scss";


html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
        body{
            background-color: rgba($color: #f3f0f0, $alpha: 1.0);
        }
    }